.ms_side_menu_content {
    .ms_adapt_logo {
        margin-top: 15px;
        margin-bottom: 35px;
        height: 30px;
        background: url('../../../assets/adapt/adapt_icon_white.png') no-repeat center;
        background-size: 30px;
        cursor: pointer;
    }
    ul,
    .ms_user_profile {
        margin-top: 20px !important;
        li {
            padding: 15px 0;
            position: relative;
            text-align: center;
            a {
                font-size: 20px;
                text-decoration: none;
                background: #2176b7;
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
                img {
                    width: 22px;
                    vertical-align: text-bottom;
                    height: 22px;
                }
                .ms_notify_dot {
                    position: absolute;
                    left: 50%;
                    right: 0;
                    border: 3px solid #2176b7;
                    height: 16px;
                    width: 16px;
                    background-color: #FC9A01;
                    border-radius: 50%;
                    display: inline-block;
                }
                &:hover,
                &.active {
                    transition: all 30ms ease;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                    background: #5292c3;
                    -webkit-transition: all 30ms ease;
                    -moz-transition: all 30ms ease;
                    -ms-transition: all 30ms ease;
                    -o-transition: all 30ms ease;
                    border: 3px solid #2176b7;
                }
                &:hover .ms_notify_dot {
                    border: 3px solid #5292c3;
                }
            }
        }
    }
    // .ms_user_profile {
    //     position: absolute;
    //     bottom: 10px;
    //     text-align: center;
    // }
}